h1 {
    font-family: 'title';
    color: #7678ed;
    text-align: center;
}

button {
    display: flex;
    width: 300px;
    margin: 50px auto;
    border: none;
    border-radius: 10px;
    background-color: #cad2c5;
    padding: 10px;
    box-shadow: 3px 3px 5px #001d3d;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

button * {
    vertical-align: middle;
}

button img {
    width: 24px;
    margin-right: 10px;
}

button span {
    font-family: 'title';
    font-size: 120%;
}